
@{
    ViewBag.Title = "Index";
}

<h2>Chat Hub</h2>

<input type="button" value="Click ME!" id="click-me" class="btn btn-danger" />

<div id="welcome-message"></div>
@section scripts {
    <script src="~/Scripts/signalr.js"></script>

}